<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  <% if Helpers.is_logged_in?(session) %>
<h1>Welcome <%= @info.username %></h1>



    <h3>Your Balance: <%= @info.balance %></h3>

<form method = "get" action = "/logout">

<input type = "submit" id = "Log Out" value = "Log Out">
</form>
<% else %>
<h1>You Must <a href="/">Log In</a> to View Your Balance</h1>
<% end %>
  </body>
</html>